@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientBorder {
    border-style: solid;
    border-width: 4px;
    border-image: linear-gradient(to right top, #774ba0, #685aad, #5767b6, #4572bc, #347dbf);
    border-image-slice: 1;
}  